{% extends 'base.html' %} {% block title %} About {% endblock title %} {% block
aboutactive %} active {% endblock aboutactive %} {% block body %}
<center>
  <br />
  <br />
  <h1 align="center">Hi 👋, I'm Kaustubh Gupta</h1>
  <p
    align="center"
    style="
      margin-left: 15%;
      margin-right: 15%;
      margin-top: 3%;
      text-align: left;
      font-size: larger;
      font-family: sans-serif;
    "
  >
    Hi, I am a Python Developer with an interest in Data Analytics and am on the
    path of becoming a Data Engineer in the upcoming years. Along with a
    Data-centric mindset, I love to build products involving real-world use
    cases. I know bits and pieces of Web Development without expertise: Flask,
    Fast API, ReactJS, MySQL, Bootstrap, CSS, JS, HTML. I also do open source
    contributions, not in association with any project, but anything which can
    be improved and reporting bug fixes for them.
    <br />
    <br />
    I am currently mastering Data Analytics and hope to get an FTE in 2022 after
    my graduation in B.Tech in IT. Being involved with computers from a very
    young age, along with programming skills, I have a lot of experience as
    technical support for Windows-related issues, installations, and gadgets
    recommendations. In my free time, I do video editing and writing both
    technical and nontechnical articles.
    <br />
    <br />
    I have written over 140+ articles for companies as a freelancer, blogs for
    my website, and medium blogs for publications. I usually listen to music
    while working. Do check out my projects on GitHub and if they are good
    enough, support me by starring and sharing them😃 Thanks!
  </p>
</center>
{% endblock body %}
