{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block body %}
<center>
<br>
<br>
<br>
<br>
<br>
<h3 id="-connect-with-me">⚡ Connect with me</h3>
<br>
<br>
<br>
<p><a href="http://kaustubhgupta.xyz/"><img align="center" alt="website" width="100px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" /></a>
<a href="https://www.facebook.com/kaustubh.gupta.1828/"><img align="center" alt="kaustubh | Facebook" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/facebook.svg" /></a>
<a href="https://twitter.com/Kaustubh1828"><img align="center" alt="kaustubh | Twitter" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" /></a>
<a href="https://www.linkedin.com/in/kaustubh-gupta-612767ab/"><img align="center" alt="kaustubh | LinkedIn" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" /></a>
<a href="https://www.instagram.com/kaustubhgupta1828/"><img align="center" alt="kaustubh | Instagram" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/instagram.svg" /></a>
<a href="https://medium.com/@kaustubhgupta1828"><img align="center" alt="kaustubh | Medium" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/medium.svg" /></a>
<a href="https://www.hackerrank.com/kaustubhgupta181"><img align="center" alt="kaustubh | Hackerrank" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/hackerrank.svg" /></a>
<a href="https://www.kaggle.com/kaustubh18282"><img align="center" alt="kaustubh | Kaggle" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/kaggle.svg" /></a>
<a href="https://github.com/kaustubhgupta"><img align="center" alt="kaustubh | GitHub" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg" /></a>
<br></p>
<center>
{% endblock body %}