{% extends 'base.html' %} {% block title %} Contact {% endblock title %} {%
block contactactive %} active {% endblock contactactive %} {% block body %}
<center>
  <br />
  <br />
  <br />
  <br />
  <br />
  <h3 id="-connect-with-me">⚡ Contact</h3>
  <br />
  <br />
  <br />
  <p>
    <a href="http://kaustubhgupta.me/"
      ><img
        align="center"
        alt="website"
        width="60px"
        src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg"
    /></a>
    <a href="https://twitter.com/Kaustubh1828"
      ><img
        align="center"
        alt="kaustubh | Twitter"
        width="60px"
        src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg"
    /></a>
    <a href="https://www.linkedin.com/in/kaustubh-gupta"
      ><img
        align="center"
        alt="kaustubh | LinkedIn"
        width="60px"
        src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg"
    /></a>
    <a href="https://medium.com/@kaustubhgupta1828"
      ><img
        align="center"
        alt="kaustubh | Medium"
        width="60px"
        src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/medium.svg"
    /></a>
    <a href="https://github.com/kaustubhgupta"
      ><img
        align="center"
        alt="kaustubh | GitHub"
        width="60px"
        src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg"
    /></a>
    <br />
  </p>
  <center>{% endblock body %}</center>
</center>
