{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}

<div class="container">

  <div class="container py-4" align="center">
    <h1>Upload your chat text files here</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".txt">
        <br>
        <br>
        <br>
        <input class="btn btn-primary btn-lg" type="submit" value="Start Analysis"></p>
    </form>
    (Note: The chats uploaded are deleted as soon as report is generated. No files are stored in the server.)

    <div>
      {% endblock body %}